body {
  margin-top: 50px;
  text-transform: uppercase;
}

.game-container {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.button1-container, .button2-container, .button3-container {
  display: inline-flex;
  position: relative;
  text-align: center;
  color: white;
  border: 5px solid black;
}

.option button {
  text-transform: uppercase;
}

div.winnings {
  text-align: center;
  border: 1px solid black;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0px;
  padding-bottom: 25px;
  padding-top: 25px;
}

.centered-rock, .centered-paper, .centered-scissor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: large;
}

.centered-scissor {
  font-size: large;
}

span#overallResult {
  color: red;
}
