body {
  margin-top: 50px;
}
.game-container {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.button1-container, .button2-container, .button3-container {
  display: inline-flex;
  position: relative;
  text-align: center;
  color: white;
}

.option button {
  text-transform: uppercase;
}

div.winnings {
  text-align: left;
  padding-top: 50px;
}

.centered-rock, .centered-paper, .centered-scissor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: large;
}

.centered-scissor {
  font-size: large;
}
