body {
  margin-top: 50px;
}
.game-container {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.button-container {
  display: inline-flex;
}

.option button {
  text-transform: uppercase;
}

div.winnings {
  text-align: left;
}
